# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# client_secret
src/main/resources/assets/modid
# Exclude Google OAuth Secrets
src/client/resources/client_secret.json
src/client/resources/assets/modid/client_secret.json
